@font-face{
    font-family: "BentonSans";
    src: url("http://s1.ft-static.com/m/font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-2.eot");
    src: url("http://s1.ft-static.com/m/font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-2.eot?#iefix") format("embedded-opentype"), url("http://s1.ft-static.com/m/font/e9d47971-b7d8-4663-8c9b-3a0b425e981f-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "BentonSans";
    src: url("http://s1.ft-static.com/m/font/76e393a7-edbd-4283-91db-93b1a40fe465-2.eot");
    src: url("http://s1.ft-static.com/m/font/76e393a7-edbd-4283-91db-93b1a40fe465-2.eot?#iefix") format("embedded-opentype"), url("http://s1.ft-static.com/m/font/76e393a7-edbd-4283-91db-93b1a40fe465-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
#FTi{}
#FTi .wideWidth { width:972px; position: relative; left:0px; top:0px;}
#FTi .narrowWidth { width:600px; position: relative; left:0px; top:0px;}
#FTi .narrowWidth .title {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	color: #333;
	padding:2px 0px 6px 0px;
	background-color:#fff1e0;
	height:24px;
	border-top: 8px solid #e9decf;
}

#FTi .wideWidth .title {
	padding-top:2px;
	background-color:#e9decf;
	border-top: 2px solid #a7a59b;
	height:80px;
}

#FTi .content{
	background-color: #fff1e0;
	padding-top: 8px;
	height:680px;
	overflow:hidden;
	z-index:200;
	font-size:14px;
	color:#43423e;
}
#FTi .narrowWidth .loader{
	position:absolute;
	z-index:500;
	color:#666;
}

#FTi .wideWidth .content .loader{
	position:relative;
	z-index:500;
	color:#666;	
	height: 600px;
	background-color: #fff1e0
}

#FTi .narrowWidth .content .loader #loaderGif{
	position:relative;
	z-index:500;
	top:150px;
	left:215px;
}

#FTi .narrowWidth #preLoader div p {
	font-family:BentonSans, BentonSans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	top: 180px;
	left:275px;
	color:#CEC6B9;
}

#FTi .footer {
	font-family:BentonSans, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #2e6e9e;
	left: 0px;
	background-color: #fff1e0;
	padding: 2px 0px 0px 0px;
	border-top: 1px solid #d9cdbe;
}
#FTi #source a{
	text-decoration:none;
	color: #2e6e9e;
}

#FTi #source{
	text-decoration:none;
	font-family:BentonSans, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#a7a59b;	
	line-height:16px;
}

#FTi .divLinks {
	background-color: #fff1e0;
	float: right;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	z-index:2000;
}
	
#FTi .divNav {
	width:100%;
	color: #666;
	height: 30px;
	margin:0;
	float: right;
	font-family: BentonSans, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	right: 1px;
	padding: -29px;
	position: absolute;
	clip: rect(auto,auto,auto,auto);
	top: 10px;
	/*
	background-image:url(../img/logo.gif);
	background-repeat:no-repeat;
	background-position:left;
	*/
	
}
#FTi .divNav ul  {
	list-style-type: none;
	float:right;
}
#FTi .divNav ul li   {
	float: left;
}

#FTi .divNav ul li a  {
	display:block;
	height: 40px;
	line-height: 25px;
	background-color: #a7a59b;
	color: #fff;
	text-align:center;
	text-decoration:none;
	margin: 0px;
	
	/*
	Border Radius
	border-radius: 5px;
	-moz-outline-radius:5px;
	-webkit-border-radius: 5px;
	*/
	background-position: left top;
	
	/*Gradients*/
	border-right: 1px solid #e9decf;
	padding: 0px 8px 0px 8px;
 
}

#FTi .divNav ul li:last-child a  {
	border:none;	
}

#FTi .divNav ul li a:hover  {
	background-color:#74736c;
	color: #fff;
}

#FTi .divNav ul li a:active {
	color: #fff;
	background-color: #4781aa;
	border-right: 1px solid #e9decf;
	cursor: default;
}



#FTi .divNav ul li a.current, .divNav ul li a.current:hover  {
	background-color:#4781aa;
	color:#fff;
	cursor:default;
}
	
#FTi #pageLogo p{
	margin-left: 130px;
	margin-top: -58px;
	color: #12a89d;
	font-family: BentonSans, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 22px;
	text-transform:uppercase;
	line-height:14px;
}

#FTi #button {
	height: 32px;
	width: 230px;
	position: absolute;
	top:60px;
	left: 280px;
}

ul, li {
	margin:0; 
	padding:0; 
	list-style:none;
}

.menu_class {
	font-weight:bold;
	border-radius:3px;
	font-size:12px;
	color:#fff;
	padding:0px 0px 0px 6px;
	background-color:#a7a59b;
	height:24px;
	cursor:pointer;
}

.menu_class.narrowDD{
	width:160px;	
}

.menu_class.wideDD{
	width:238px;	
}

#FTi .ddArrowUp{
	width:18px;
	height:24px;
	background-color:#a7a59b;
	background:url(../_media/ddArrowWhite.png) no-repeat;
}

.the_menu {
	display:none;
	border-radius:0px 0px 3px 3px;
	border:2px solid #a7a59b;
	margin-top:-2px;
}

#FTi #yrList {
	width:162px;
}

#FTi #ddList_0 {
	width:240px;
}

#FTi #ddList_1 {
	width:240px;
}

.the_menu li {
	background-color: #fff;
	border-bottom: solid 1px #dfded7;
}

.the_menu li a {
	font-family:BentonSans, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#43423e; 
	text-decoration:none; 
	padding:5px; 
	display:block;
}

.the_menu li a:hover {
	padding:5px;
	font-weight:reg;
	background-color:#f6e9d8;
}

td {
	font-family:BentonSans, Arial, Helvetica, sans-serif;
	font-size:12px;
	
}

.instruction
{	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:15px;
	font-style:italic;
	color: #9b164f;
	position:absolute;
	left:675px;
	top:59px;
	width: 200px;
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../img/graphics/inactive.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radioSelected {
	background: url(../img/graphics/active.png) no-repeat;
}

.radioUp {
	background: url(../img/graphics/inactive.png) no-repeat;
}

.radioTable {
	cursor:pointer;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 25px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/12px arial,sans-serif;
	background: url(../img/graphics/inactive.png) no-repeat;
	overflow: hidden;
}

.toolTip
{
	background-color: #fff;
	font-family:BentonSans, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px;
	position: absolute;
	border: 1px solid #4781aa;
	color:#333;
	opacity:0;
	width:200px;
	-moz-box-shadow: 1px 1px 2px #999;
3.
	-webkit-box-shadow: 1px 1px 2px #999;
	4.
	box-shadow: 1px 1px 2px #999;
}
/*
added by p.feeney 3-dec-2012 
*/
#FTi #tab_0 .key {position: absolute; top: 200px; left: 14px;}
#FTi #tab_0 .key .legend {vertical-align:6px; margin-right: 20px; margin-left: 5px}
#FTi #tab_0 .pieKey {position: absolute; top: 200px; left: 766px;}
#FTi #tab_0 #allPies #container_globalPie {width: 972px; height: 330px; position: absolute; top: 300px; z-index:500; pointer-events:none; background-color:#fff1e0}
#FTi #tab_0 #allPies #container_pie {width: 972px; height: 200px; position: absolute; top: 360px; left: -9px; z-index:600; background-color: transparent;}
#FTi #tab_0 #allPies .questionBox_0 {
				position: absolute;
				top: 590px;
				left: 42px;
				text-align: center;
				color:#333;
				z-index:610;
				line-height:28px;
				font-family:Georgia, "Times New Roman", Times, serif;
				}
#FTi #tab_0 #allPies .questionBox_1 {
				position: absolute;
				top: 590px;
				left: 372px;
				text-align: center;
				color:#333;
				z-index:611;
				line-height:28px;
				font-family:Georgia, "Times New Roman", Times, serif;
				}
#FTi #tab_0 #allPies .questionBox_2 {
				position: absolute;
				top: 590px;
				left: 696px;
				text-align: center;
				color:#333;
				z-index:612;
				line-height:28px;
				font-family:Georgia, "Times New Roman", Times, serif;
				}
#FTi #tab_1 #container_friendliness_table {width: 952px; height: 260px; position: absolute; top:175px; left: 12px; z-index:600}
#FTi #tab_1 #container_friendliness {height: 180px; left: 2px; position: absolute; top: 505px; width: 982px; z-index: 600;}
#FTi #tab_2 #container_barRisks {width: 962px; height: 450px; position: absolute; top: 180px; left: 6px; z-index:600}
#container_friendliness_table th  {
	font-family:BentonSans, Arial, Helvetica, sans-serif;
	font-size:11px;
	width: 861px;
	background-color:#e9decf;
	border-bottom: 2px solid #a7a59b;
	border-top: 1px solid #a7a59b;
	height: 25px;
	text-align:left;
	font-weight: normal;
	color: #80807f;
	margin: 0px;
	padding: 0px;
	text-indent: 4px;
	vertical-align: middle;
	
}

#container_friendliness_table th:hover {
	background-color: #d8cec3;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	text-indent: 4px
}

#container_friendliness_table td {
	font-family:BentonSans, Arial, Helvetica, sans-serif;
	font-size:11px;
	border-bottom: 1px solid #a7a59b;
	height: 24px;
	text-align:left;
	color: #80807f;
	margin: 0px;
	padding: 0px;
	text-indent: 4px;	
}

rowTint {
  background-color: #f8ebdc;
}
.sectionBlurb
{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #333;
	padding-left:10px;
	padding-top:12px;
	background-color: #fff1e0;
	height:48px;
	width:962px;
	position:absolute;
	top: 46px;		
}
#blurbTitle { font-size:20px;line-height:18px;font-weight:bold;margin-bottom:6px;}
#blurbText { font-size:13px }
#chartLabel {position: absolute; top: 135px; left: 14px;  z-index:505; font-family:BentonSans, Arial, Helvetica, sans-serif; font-weight:bold;}
#dropDown_0 {position:absolute;top:120px;left:326px;z-index:700;line-height:18px;font-size:10px;font-family:BentonSans, Arial, Helvetica, sans-serif}
#dropDown_1 {position:absolute;top:120px;left:620px;z-index:700;line-height:18px;display:none;font-size:10px;font-family:BentonSans, Arial, Helvetica, sans-serif;}
#FTi #dateSelect { position:absolute;top:4px;left:296px;display:inline-block;width:240px; margin-top:12px;z-index:1000  }
#FTi #selectYr { width:240px; float:left; margin-left:30px; }
#FTi .oddText { float:left;margin-left:100px;color: #3C6; }

.topicalQuestion {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color: #333;	
	margin-bottom:30px;
}

.noBar {
	background-color:#4781aa;
	height:20px;
	margin-top:6px;
	width:30px;
	position:relative;
	z-index:800;
	float:left;
}

.yesBar {
	background-color:#9e2f50;
	width:100%;
	height:20px;
	margin-top:10px;
	position:relative;
	top:-30px;
	z-index:700;
	float:right;	
}

.sameBar {
	background-color:#A7A59B;
	height:20px;
	margin-top:6px;
	width:30px;
	position:relative;
	z-index:800;
	float:left;
}

.answers {
	margin-top:3px;
	position:relative;
	top:-30px;
	float:left;	
	width:100%;
}

.pieTopical {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	width: 274px;
	margin-right: 0px;
	float:left;	
}

/*
	additions of social buttons
*/
#social-button {
	/*
    background: url("../img/shareIcons.svg") no-repeat scroll 0 0 transparent;
	*/
    float: left;
    height: 30px;
    margin-top: -50px;
    padding-left: 40px;
    width: 195px;
}