#FTi{}
#FTi .wideWidth { width:972px; position: relative; left:0px; top:0px;}
#FTi .narrowWidth { width:600px; position: relative; left:0px; top:0px;}
#FTi .narrowWidth .title {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	color: #333;
	padding:2px 0px 6px 0px;
	background-color:#fff1e0;
	height:24px;
	border-top: 8px solid #e9decf;
}

#FTi .wideWidth .title {
	padding-top:2px;
	background-color:#fff1e0;
	border-top: 8px solid #e9decf;
}

#FTi .content{
	background-color: #fff1e0;
	padding-top: 8px;
	height:680px;
	overflow:hidden;
	z-index:200;
	font-size:14px;
	color:#74736c;
}
#FTi .narrowWidth .loader{
	position:absolute;
	z-index:500;
	color:#666;
}

#FTi .wideWidth .content .loader{
	position:relative;
	z-index:500;
	color:#666;	
	height: 600px;
	background-color: #fff1e0
}

#FTi .narrowWidth .content .loader #loaderGif{
	position:relative;
	z-index:500;
	top:150px;
	left:215px;
}

#FTi .narrowWidth #preLoader div p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	top: 180px;
	left:275px;
	color:#CEC6B9;
}

#FTi .footer {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #2e6e9e;
	left: 0px;
	background-color: #fff1e0;
	padding: 2px 0px 0px 0px;
	border-top: 1px solid #d9cdbe;
}
#FTi #source a{
	text-decoration:none;
	color: #2e6e9e;
}

#FTi #source{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#a7a59b;	
	line-height:16px;
}#FTi .divLinks {
	background-color: #fff1e0;
	float: right;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	z-index:2000;
}
	
#FTi .divNav {
	color: #666;
	height: 27px;
	margin:0;
	float: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	right: 12px;
	padding: -29px;
	position: absolute;
	clip: rect(auto,auto,auto,auto);
	top: 19px;
}
#FTi .divNav ul  {
	list-style-type: none;
}
#FTi .divNav ul li   {
	float: left;
}

#FTi .divNav ul li a  {
	display:block;
	height: 30px;
	line-height: 20px;
	background-color: #a7a59b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #514d44;
	text-align:center;
	text-decoration:none;
	margin: 3px;
	
	/*Border Radius*/
	border-radius: 5px;
	-moz-outline-radius:5px;
	-webkit-border-radius: 5px;
	background-position: left top;
	
	/*Gradients*/
	background-color: #cec6b9;
	border: 1px solid #bbb4a8;
	padding: 0px 8px 0px 8px;
 
}

#FTi .divNav ul li a:hover  {
	background-color:#a7a59b;
	color: #FFF;
}

#FTi .divNav ul li a:active {
	color: #FFF;
	background-color: #4781aa;
	border: 1px solid #40759a;
	cursor: default;
}



#FTi .divNav ul li a.current, .divNav ul li a.current:hover  {
	background-color:#4781aa;
	color:#FFFFFF;
	cursor:default;
	border: 1px solid #40759a;
}
	
	  
#FTi #button {
	height: 32px;
	width: 230px;
	position: absolute;
	top:60px;
	left: 280px;
}

ul, li {
	margin:0; 
	padding:0; 
	list-style:none;
}

.menu_class {
	border:1px solid #4781aa;
	cursor:pointer;
}

.the_menu {
	display:none;
	width:226px;
	border-width: 1px 2px 2px 2px;
	border-color: #4781aa;
	border-style:solid;
}

.the_menu li {
	background-color: #fff;
	border-bottom: solid 1px #ccc;
}

.the_menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333; 
	text-decoration:none; 
	padding:5px; 
	display:block;
}

.the_menu li a:hover {
	padding:5px;
	font-weight:reg;
	background-color:#eee;
}

td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
}

.instruction
{	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:15px;
	font-style:italic;
	color: #9b164f;
	position:absolute;
	left:675px;
	top:59px;
	width: 200px;
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../img/graphics/inactive.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radioSelected {
	background: url(../img/graphics/active.png) no-repeat;
}

.radioUp {
	background: url(../img/graphics/inactive.png) no-repeat;
}

.radioTable {
	cursor:pointer;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 25px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/12px arial,sans-serif;
	background: url(../img/graphics/inactive.png) no-repeat;
	overflow: hidden;
}

.toolTip
{
	background-color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px;
	position: absolute;
	border: 1px solid #4781aa;
	color:#333;
	opacity:0;
	width:200px;
	-moz-box-shadow: 1px 1px 2px #999;
3.
	-webkit-box-shadow: 1px 1px 2px #999;
	4.
	box-shadow: 1px 1px 2px #999;
}
/*
added by p.feeney 3-dec-2012 
*/
#FTi #tab_0 .key {position: absolute; top: 200px; left: 14px;}
#FTi #tab_0 .key .legend {vertical-align:6px; margin-right: 20px; margin-left: 5px}
#FTi #tab_0 .pieKey {position: absolute; top: 200px; left: 760px;}
#FTi #tab_0 #allPies #container_globalPie {width: 866px; height: 330px; position: absolute; top: 300px; left: 14px;  z-index:500; pointer-events:none}
#FTi #tab_0 #allPies #container_pie {width: 866px; height: 200px; position: absolute; top: 360px; left: 6px; z-index:600}
#FTi #tab_0 #allPies .questionBox_0 {
				position: absolute;
				top: 600px;
				left: 40px
				text-align: center;
				color:#333;
				z-index:610;
				line-height:28px;
				font-family:Georgia, "Times New Roman", Times, serif;
				}
#FTi #tab_0 #allPies .questionBox_1 {
				position: absolute;
				top: 600px;
				left: 330px;
				text-align: center;
				color:#333;
				z-index:611;
				line-height:28px;
				font-family:Georgia, "Times New Roman", Times, serif;
				}
#FTi #tab_0 #allPies .questionBox_2 {
				position: absolute;
				top: 600px;
				left: 620px;
				text-align: center;
				color:#333;
				z-index:612;
				line-height:28px;
				font-family:Georgia, "Times New Roman", Times, serif;
				}
#FTi #tab_1 #container_friendliness_table {width: 862px; height: 260px; position: absolute; top:175px; left: 12px; z-index:600}
#FTi #tab_1 #container_friendliness {height: 180px; left: 6px; position: absolute; top: 505px; width: 900px; z-index: 600;}
#FTi #tab_2 #container_barRisks {width: 876px; height: 450px; position: absolute; top: 180px; left: 6px; z-index:600}
#container_friendliness_table th  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	width: 861px;
	background-color:#e9decf;
	border-bottom: 2px solid #a7a59b;
	border-top: 1px solid #a7a59b;
	height: 25px;
	text-align:left;
	font-weight: normal;
	color: #80807f;
	margin: 0px;
	padding: 0px;
	text-indent: 4px;
	vertical-align: middle;
	
}

#container_friendliness_table th:hover {
	background-color: #d8cec3;
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	text-indent: 4px
}

#container_friendliness_table td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	border-bottom: 1px solid #a7a59b;
	height: 24px;
	text-align:left;
	color: #80807f;
	margin: 0px;
	padding: 0px;
	text-indent: 4px;	
}

rowTint {
  background-color: #f8ebdc;
}
.sectionBlurb
{
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #333;
	padding-left:10px;
	padding-top:8px;
	background-color: #d5cbbd;
	height:50px;
	width:962px;
	position:absolute;
	top: 46px;		
}
#blurbTitle { font-size:20px;line-height:18px;font-weight:bold; }
#blurbText { font-size:13px }
#chartLabel {position: absolute; top: 133px; left: 14px;  z-index:505}
#dropDown_0 {position:absolute;top:110px;left:350px;z-index:1020}
#dropDown_1 {position:absolute;top:128px;left:620px;z-index:1020;display:none;}
#FTi #dateSelect { position:absolute;top:10px;left:10px;display:inline-block;width:500px; margin-top:6px; }
#FTi #selectYr { width:240px; float:left; }
#FTi #selectQtr { width:240px; float:left; }